* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  background: linear-gradient(to right, black, red, black);
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header__logo {
    margin-left: 1rem; }
  .header__ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: 5px;
    padding: 5px; }
    .header__ul li {
      margin: 15px; }
      .header__ul li:hover {
        font-weight: bolder; }
      .header__ul li a {
        color: white;
        text-decoration: none; }

.footer {
  display: flex;
  background: red;
  justify-content: space-evenly;
  min-height: 20vh; }
  .footer__ul {
    color: yellowgreen; }
    .footer__ul img:hover {
      transform: scale(1.1) translate(5px, 5px);
      transition: 1.5s; }
