*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import '../variables/colores';
@import '../variables/extend';

@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';