.footer {
    display: grid;
    background: red;
    justify-content: space-around;
    min-height: 20vh;
    justify-items: center;

    h5 {
        color: white;
    }

    &__ul {
        color: white;
    }
    p{
        color: white;
    }
}