
.main-novedades {
    background-color: white;
    min-height: 80vh;

    h1{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;

    }
    h3{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;
        text-align: center;
    }

    p{
        display: flex;
        justify-content: space-around;
        color: black; 
        font-size: 16px;
        margin: 50px;
        padding: 10px;
    }
    .grid-container{
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-row-gap: 150px;    }
    
    .grid-container div{
        width: 500px;
        height: 500px;
    }
    .grid-container img{
        height: 500px;
    }
}

.main-comisiones {
    background-color: white;
    min-height: 80vh;

    h1{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;

    }
    h3{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;
        text-align: center;
    }

    p{
        display: flex;
        justify-content: space-around;
        color: black; 
        font-size: 16px;
        margin: 50px;
        padding: 10px;
    }

}

.main-nuestraHistoria {
    background-color: white;
    min-height: 80vh;

    h1{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;

    }
    h3{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;
        text-align: center;
    }

    p{
        display: flex;
        justify-content: space-around;
        color: black; 
        font-size: 16px;
        margin: 50px;
        padding: 10px;
    }
}

.main-eventos {
    background-color: white;
    min-height: 80vh;

    h1{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;

    }
    h3{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;
        text-align: center;
    }

    p{
        display: flex;
        justify-content: space-around;
        color: black; 
        font-size: 16px;
        margin: 50px;
        padding: 10px;
    }

}

.main-contacto {
    background-color: white;
    min-height: 80vh;

    h1{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;

    }
    h3{
        display: flex;
        justify-content: center;
        color: black;
        margin: 15px;
        text-align: center;
    }

    p{
        display: flex;
        justify-content: space-around;
        color: black; 
        font-size: 16px;
        margin: 50px;
        padding: 10px;
    }
    div.formulario{
        display: flex;
        justify-content: space-around;
    }
}

